{% import "_includes/forms" as forms %}

<h1>{{ 'Redactor settings'|t }}</h1>

{% set userGroups = [] %}
{% for userGroup in craft.userGroups.getAllGroups() %}
    {% set userGroups = userGroups|merge([{ label: userGroup.name, value: userGroup.id }]) %}
{% endfor %}
{{ forms.multiselectField({
    id: 'showHtmlButtonForUserGroups',
    name: 'showHtmlButtonForUserGroups',
    label: 'Toon HTML knop voor deze gebruikersgroepen',
    values: settings.showHtmlButtonForUserGroups,
    options: userGroups
}) }}

{{ forms.textField({
    id:         'cssPath',
    name:       'cssPath',
    label:      'Css path',
    value:      settings.cssPath
}) }}

{{ forms.editableTableField({
    id:         'classes',
    name:       'classes',
    label:      'Classes',
    required:   false,
    cols:       {
                    label: {
                        heading: 'Label',
                        type: 'singleline',
                        width: '50%'
                    },
                    class: {
                        heading: 'Class',
                        type: 'singleline',
                        width: '50%'
                    }
                },
    rows:       settings.classes
}) }}
