{% import "_includes/forms" as forms %}

<h1>{{ 'Redactor settings'|t }}</h1>

{{ forms.textField({
    id:         'cssPath',
    name:       'cssPath',
    label:      'Css path',
    value:      settings.cssPath
}) }}

{{ forms.editableTableField({
    id:         'classes',
    name:       'classes',
    label:      'Classes',
    required:   false,
    cols:       {
                    label: {
                        heading: 'Label',
                        type: 'singleline',
                        width: '50%'
                    },
                    class: {
                        heading: 'Class',
                        type: 'singleline',
                        width: '50%'
                    }
                },
    rows:       settings.classes
}) }}